h1, .h1,
h2, .h2,
h3, .h3{
	font-family: $headings-font-family;
	font-weight: 700;
	color: $headings-color;
 }

h1, .h1 {
	font-size: $h1-font-size;
	line-height: $h1-font-line-height;
 }
 
 h2, .h2 {
	font-size: $h2-font-size;
	line-height: $h2-font-line-height;
 }
 h3, .h3 {
	font-size: $h3-font-size;
	line-height: $h3-font-line-height;
 }
 .blog-card-text,.product-card-text{

	.card-text-h {
		font-size: 18px;
		color: $brand-color2;
		margin: 0 0 9px 0;
	}
}
a{
	transition: all 0.3s ease-out;
}