// font-family: 'Libre Baskerville', serif;
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }
// @include media-breakpoint-up(xxl) { ... }

// @include media-breakpoint-down(sm) { ... }
// @include media-breakpoint-down(md) { ... }
// @include media-breakpoint-down(lg) { ... }
// @include media-breakpoint-down(xl) { ... }
// @include media-breakpoint-down(xxl) { ... }

// @include media-breakpoint-only(xs) { ... }
// @include media-breakpoint-only(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-only(lg) { ... }
// @include media-breakpoint-only(xl) { ... }
// @include media-breakpoint-only(xxl) { ... }

// COLOR

$white:#ffffff;
$brand-color:#374B5C;
$brand-color2:#00DBD0;

// BODY

$base-font-family:'Libre Baskerville', serif;;
$base-font-size:16px;
$base-line-height:21px;
$base-font-color:$brand-color;

// HEADINGS

$headings-font-family:$base-font-family;
$headings-color:$brand-color;

// h1
$h1-font-size:56px;
$h1-font-line-height:74px;
// h2
$h2-font-size:36px;
$h2-font-line-height:48px;
// h3
$h3-font-size:18px;
$h3-font-line-height:24px;

// LINKS

$link-font-family:$base-font-family;
$link-font-size:16px;
$link-line-height:21px;
$base-link-color: $brand-color;

// BOOTSTRAP
// body
$body-color:$base-font-color;
// link
$link-color: $base-link-color;
$link-decoration: none;